{% extends "base.html" %}

{% block title %}文メイト{% endblock %}

{% block content %}
<section>
<div class="hero-section">
    <div class="hero-content">
    <h2 class="major">Login</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }} {{ form.username(size=20) }}<br>
            {{ form.password.label }} {{ form.password(size=20) }}<br>
            {{ form.submit() }}
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <p>Don’t have an account? Go to <a href="{{ url_for('auth.register') }}">Register</a></p>
    </div>
    </div>
</section>
        {% endblock %}
