{% extends "base.html" %}

{% block title %}文メイト{% endblock %}

{% block content %}
<section class="field-section section-padding mx-auto mt-5 align-items-center justify-content-center">
  <div class="container">
    <h2 class="fw-bold">Register</h2>

    <form method="post">
      {{ form.hidden_tag() }}

      <div class="mb-3">
        {{ form.username.label(class="form-label fw-semibold") }}
        {{ form.username(class="form-control", placeholder="Enter your username") }}
      </div>

      <div class="mb-3">
        {{ form.password.label(class="form-label fw-semibold") }}
        {{ form.password(class="form-control", placeholder="Enter your password") }}
      </div>

      <div class="mb-3">
        {{ form.confirm.label(class="form-label fw-semibold") }}
        {{ form.confirm(class="form-control", placeholder="Confirm your password") }}
      </div>

        <div class="mb-3">
          {{ form.role.label(class="form-label fw-semibold") }}
          <div class="input-group">
            <span class="input-group-text">
              <i class="bi bi-person-badge"></i>
            </span>
            {{ form.role(class="form-select") }}
          </div>
        </div>


      <div class="d-grid">
        {{ form.submit(class="btn btn-primary btn-lg rounded-3") }}
      </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="text-center mt-3">
          {% for category, message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <div class="text-center my-3">
      Already have an account?
      <a href="{{ url_for('auth.login') }}" class="text-decoration-none fw-semibold">Login</a>
    </div>
  </div>
</section>
{% endblock %}
