<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}文メイト{% endblock %}</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/templatemo-topic-listing.css') }}" rel="stylesheet">
    </head>

    <body id="top">
        <main>
            <div class="dynamic-bar">
              <div class="scroll-text" id="scroll-text">
                Welcome to 文メイト — Learn Japanese with fun 🌸
              </div>
            </div>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="bi-mortarboard-fill"></i>
                        <span>日本語</span>
                    </a>
<div class="collapse navbar-collapse" id="navbarNav">

    {% if current_user.is_authenticated %}
        {% if current_user.role == 'student' %}
        <ul class="navbar-nav ms-lg-5 me-lg-auto">
            <li class="nav-item">
                <a class="nav-link click-scroll" href="#">Test</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="#">My Submission</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_5">Contact</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Resources</a>

                <ul class="dropdown-menu dropdown-menu-light p-3" aria-labelledby="navbarLightDropdownMenuLink" style="min-width: 240px;">
                    <li class="mb-1">
                        <a class="dropdown-item rounded-3 py-2 d-flex align-items-start" href="kanji.html">
                            <span class="me-3 fs-3 bi-bookmark-plus" aria-hidden="true"></span>
                            <div>
                                <div class="fw-semibold">Kanji</div>
                                <small class="text-muted">Lists, readings & stroke order</small>
                            </div>
                        </a>
                    </li>

                    <li class="mb-1">
                        <a class="dropdown-item rounded-3 py-2 d-flex align-items-start" href="grammar-tips.html">
                            <span class="me-3 fs-3 bi-pencil-square" aria-hidden="true"></span>
                            <div>
                                <div class="fw-semibold">Grammar Tips</div>
                                <small class="text-muted">Short lessons & common mistakes</small>
                            </div>
                        </a>
                    </li>

                    <li class="mb-1">
                        <a class="dropdown-item rounded-3 py-2 d-flex align-items-start" href="progress-tracking.html">
                            <span class="me-3 fs-3 bi-graph-up-arrow" aria-hidden="true"></span>
                            <div>
                                <div class="fw-semibold">Progress</div>
                                <small class="text-muted">View your study streak and scores</small>
                            </div>
                        </a>
                    </li>

                    <li class="mb-1">
                        <a class="dropdown-item rounded-3 py-2 d-flex align-items-start" href="how-it-works.html">
                            <span class="me-3 fs-3 bi-question-circle" aria-hidden="true"></span>
                            <div>
                                <div class="fw-semibold">How it works</div>
                                <small class="text-muted">Quick guide to using the site</small>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item rounded-3 py-2 d-flex align-items-start" href="contact.html">
                            <i class="me-3 fs-3 bi bi-person-arms-up" aria-hidden="true"></i>
                            <div>
                                <div class="fw-semibold">Contact</div>
                                <small class="text-muted">Bugs, suggestions, collabs</small>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        {% elif current_user.role == 'teacher' %}
        <ul class="navbar-nav ms-lg-5 me-lg-auto">
            <li class="nav-item">
                <a class="nav-link click-scroll" href="#">Task Management</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="#">Submission Review</a>
            </li>

            <li class="nav-item">
                <a class="nav-link click-scroll" href="#section_5">Contact</a>
            </li>
        </ul>

        {% endif %}
    {% else %}
        <!-- User not authenticated -->
        <ul class="navbar-nav ms-lg-5 me-lg-auto">
            <li class="nav-item">
                <a href="{{ url_for('auth.login') }}" class="nav-link click-scroll">Login</a>
            </li>

            <li class="nav-item">
                <a href="{{ url_for('auth.register') }}" class="nav-link click-scroll">Sign Up</a>
            </li>
        </ul>
    {% endif %}

    <div class="d-none d-lg-block">
        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
    </div>
</div>



                </div>
            </nav>

             {% block content %}{% endblock %}

        </main>

        <footer class="section-padding container">
                <div class="footer-content-top">

                    <div class="footer-left-promo">
                        <a class="navbar-brand" href="index.html">
                            <i class="bi-mortarboard-fill"></i>
                            <span>日本語</span>
                        </a>
                        <p class="footer-promo-text">Clear your desk. Tie your hair up. Grab a coffee, and just start.</p>

                        <div class="footer-social">
                            <a href="#"><i class="bi-facebook"></i></a>
                            <a href="#"><i class="bi-instagram"></i></a>
                            <a href="#"><i class="bi-tiktok"></i></a>
                            <a href="#"><i class="bi-linkedin"></i></a>
                            <a href="https://github.com/nancy-builds"><i class="bi-github"></i></a>
                        </div>
                    </div>

                    <div class="footer-column footer-middle-image">
                        <img src="{{ url_for('static', filename='images/footer_study_girl.png') }}"
                             alt="Study Girl"
                             class="footer-image">
                    </div>

                    <div class="footer-column footer-right-links">

                        <div class="footer-link-group">
                            <h4 class="footer-link-title">Practice</h4>
                            <ul>
                                <li><a href="#">Cold brew</a></li>
                                <li><a href="#">Matcha</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Bundles</a></li>
                            </ul>
                        </div>

                        <div class="footer-link-group">
                            <h4 class="footer-link-title">日本語</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            <hr class="footer-divider">

            <div class="footer-legal">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <span>&copy; 2025 日本語 Inc. All Rights Reserved.</span>
            </div>

        </footer>


        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
        <script src="{{ url_for('static', filename='js/click-scroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

    </body>
</html>
